@font-face {
  font-family: 'opensans';
  src: url(../font/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'proximaBlack';
  src: url(../font/ProximaNova-Black.ttf); }

@font-face {
  font-family: 'proximaRegular';
  src: url(../font/ProximaNova-Regular.ttf); }

@font-face {
  font-family: 'ProximaNovaThin';
  src: url(../font/ProximaNovaThin.ttf]); }

body {
  font-family: 'proximaRegular' !important; }
