.connection{
    background: url(../../images/%D0%9F%D1%80%D0%B8%D1%81%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D1%8F%D0%B9%D1%82%D0%B5%D1%81%D1%8C!.png);
    padding: 5px 0 20px 0;
}

.connection h3{

text-align: center;
font-weight: 800;
font-size: 54px;
line-height: 76px;
color: #fff;
display: flex;
justify-content: center;
    margin: 63px 0 42px 0;
}
.connect-inner{
    display: flex;
    margin-left: 190px;
    padding-bottom: 70px;
}
.content{
    width: 250px;
   
}
.content h1{
 font-family:'proxima'!important;
font-weight: 800;
font-size: 42px;
line-height: 150%;
color: #FE213B;
}
.content p{
font-weight: normal;
font-size: 16px;
line-height: 140%;
color: #fff;
width: 250px;
height: 44px;
margin-bottom:  45px;
}


@media screen and (max-width:576px){
    .connect{
     margin: 0 auto;
    }
    .content h1{
        font-size: 20px;
    }
    .content p{
        width: 100%;
        font-size: 14px;
    }
   
    .connection{
        height: 100%;
        padding: 20px 0;
    }
    .container h3{
        font-size: 26px;
        margin: auto 0;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .content p{
        font-size: 20px
    }
}