.footer{
    background:#191A27;
    height: 419px;
    display: flex;
    align-items: center;
}
.foot{
display: flex;
    flex-direction: column;
}
.foot h2{
padding-bottom: 27px;
font-weight: bold;
font-size: 24px;
line-height: 140%;
color: #fff;
}
.foot a{
font-size: 16px;
line-height: 140%;
text-decoration: none;
color: #fff;
padding-bottom: 16px;
width: fit-content;
}
.foot a:hover{
    color: #FE213B;
}
.footer-img{
    padding-bottom: 30px;
}
.foot p{
    color: #55576F;
    font-size: 18px;
line-height: 140%;
}
.bottom-footer{
        background-color: #1E1F2E;
}
.bottom-foot-content{
    width: 100%;
    text-align: center;
    padding: 1.5rem 0 1rem;

}
.bottom-foot-content p{
font-size: 12px;
line-height: 140%;
color: #57586C;
}
.bottom-foot-content img{
    width: 3.5rem;
    margin-left: .7rem;
}
   

    @media screen and (max-width:700px){
        .footer{
        height: 100%;
    }
         .foot p{
    font-size: 13px;
line-height: 100%;
}
        .foot{
            padding: 20px 0;
        }
    .foot h2{
        margin-bottom: 20px;
padding: 0;
font-size: 18px;
line-height: 20%;
}
.foot a{
font-size: 13px;
line-height: 120%;
padding: 0;
margin-bottom: 15px;
}
.footer-logo{
    margin-top: -0.5rem;
}
.footer-img{
    padding: 0;
        }
        .bottom-foot-content{
            height: 100px;
            padding: 10px 0;
        }
    }


@media screen and (min-width:768px) and (max-width:1024px){
    .foot h2{
        padding-top: 1rem;
    }
    .footer-img{
        padding-top: 20px;
    }
}