@font-face {
  font-family: "proxima";
  src: url(../../font/ProximaNova-Regular.ttf);
}
body {
  font-family: "proxima" !important;
}
.body-overflow {
  overflow: hidden;
}
a {
  text-decoration: none !important;
}
.burger-menu {
  display: none;
}
.burger-menu-btn {
  display: none;
  width: 3rem;
  height: 2.5rem;
  background-color: #fe213b;
  border-radius: 5px;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 9999;
}
.burger-menu img {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 3rem;
  height: 2.7rem;
  display: none;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
  position: absolute;
  width: 2rem;
  height: 5px;
  background-color: #fff;
}
.burger-menu-lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.burger-menu-lines::after {
  content: "";
  top: -12px;
  transition: all 0.5s ease;
}
.burger-menu-lines::before {
  content: "";
  top: 12px;
  transition: all 0.5s ease;
}

.burger-menu-lines-active .burger-menu-lines {
  background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after {
  top: 0;
  transform: rotate(45deg);
}
.search-img:hover + .search-input {
  transform: translateX(0) !important;
}
.nav-item input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  position: relative;
  border-bottom: 1px solid red;
  transform: translateX(140%);
  transition: all 0.5s ease;
  width: 80%;
}

.input-search {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-search::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  right: 0;
  bottom: -5px;
}

.search-img {
  /* border-bottom: 2px solid #fff;   */
  width: 25px;
  height: 27.73px;
  cursor: pointer;
}

.search-img:focus-within {
  border: 1px solid #fff;
}
.nav-panel-mobil {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  z-index: 99;
  transition: 0.5s;
  width: 100%;
  text-align: center;
  transform: translateX(-100%);
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  top: 0;
  display: flex;
  align-items: center;
}
.nav-panel-mobil-active {
  transform: translateX(0);
}

.head {
  position: relative;
}
.header {
  width: 100%;
  position: absolute;
  top: 14px;
}
.head-btn:hover {
  background: #ffffff !important;
  border: none !important;
  color: #fe213b !important;
}
.skills-btn {
  color: #fff !important;
}
.skills-btn:focus {
  box-shadow: none !important;
}
.skills-btn:hover {
  color: #fff;
}
.skills-btn::after {
  display: none !important;
}
.top-link {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 130% !important;
  /* color: #FFFFFF!important; */
}
.top-link img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.item {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.nav {
  justify-content: space-between;
}
.nav-link {
  padding: 15px 1rem !important;
  color: #fff;
}
.header-content {
  position: absolute;
  top: 30%;
  left: 7%;
  right: 14%;
}
.header-content h1 {
  font-weight: bold;
  font-size: 74px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  font-family: "proximaBlack", sans-serif !important;
}

.head-btn {
  width: 160px;
  height: 44px;
  background: #fe213b;
  font-weight: bold;
  font-size: 13px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.navbar-navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-btn {
  color: #fff !important;
  box-shadow: none !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
}
.company-btn:after {
  display: none !important;
}
.company-menu {
  position: relative;
  padding: 25px 14px 32px 14px !important;
}
.company-menu::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -0.5rem;
  left: 18px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
}
.company-item {
  font-size: 15px;
  line-height: 140%;
  color: #fff !important;
  border: 1px solid red !important;
  margin-bottom: 0.5rem;
  background-color: #fe213b !important;
}
.company-item:hover {
  background: #fff !important;
  border-radius: 5px !important;
  color: #fe213b !important;
}
@media screen and (max-width: 700px) {
  .mobile-lang {
    display: block !important;
  }
  .burger-menu {
    display: block;
  }
  .search-page {
    padding-top: 1rem !important;
  }
  .search-title {
    margin-top: 0 !important;
  }
  .search-page .search-title {
    display: block !important;
  }
  .search-page .search-title h1 {
    font-size: 16px;
    margin-left: 0 !important;
  }
  .search-page .search-title h2 {
    font-size: 16px;
  }
  .nav-item input::placeholder {
    color: #fff !important;
  }
  .input-search button {
    display: block !important;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
  }
  .nav-item input {
    transform: translateX(0);
  }
  .burger-menu form {
    width: 50%;
    margin: 0 auto;
  }
  .burger-menu form .search-img {
    width: 25px;
    height: 25px;
    left: auto;
    right: 0;
  }
  .head-btn {
    margin-bottom: 10px;
  }
  .nav-link {
    padding: 10px 1rem !important;
  }
  /* .nav-mobile{
        position: absolute;
        top:7rem;
        left: 5rem;
    } */
  .burger-menu-btn {
    display: block;
    position: fixed;
    right: 1rem;
    top: 0.5rem;
  }
  .burger-menu img {
    display: block;
  }
  .head-content {
    display: none;
  }

  .header-content {
    position: absolute;
    left: 3rem;
    right: 3rem;
    top: 4rem;
  }
  .header-content h1 {
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}
.input-search button {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mobile-lang {
    display: block !important;
  }
  .burger-menu {
    display: block;
  }
  .input-search button {
    display: block !important;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
  }
  .search-page .search-title h1 {
    font-size: 16px;
    margin-left: 0 !important;
  }
  .search-page .search-title h2 {
    font-size: 16px;
  }
  .nav-item input {
    transform: translateX(0);
  }
  .nav-item input::placeholder {
    color: #fff !important;
  }
  .burger-menu form {
    width: 50%;
    margin: 1rem auto 0;
  }
  .burger-menu form .search-img {
    width: 25px;
    height: 25px;
    left: auto;
    right: 0;
  }
  .nav-panel-mobil {
    display: block;
  }
  .nav-mobile {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
  }
  .head-btn {
    margin-bottom: 10px;
  }
  .nav-link {
    padding: 10px 1rem !important;
  }
  .burger-menu-btn {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
  .burger-menu img {
    display: block;
  }
  .head-content {
    display: none;
  }
  .header-content {
    position: absolute;
    left: 8rem;
    right: 8rem;
    top: 8rem;
  }
  .header-content h1 {
    padding: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1340px) {
  .mobile-lang{
    display: block !important;
  }
  .burger-menu {
    display: block;
  }
  .search-page .search-title h1 {
    font-size: 16px;
    margin-left: 0 !important;
  }
  .search-page .search-title h2 {
    font-size: 16px;
  }
  .nav-panel-mobil {
    display: block;
  }
  .nav-mobile {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
  }
  .burger-menu-btn {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    width: 70px;
    height: 55px;
  }
  .burger-menu img {
    display: block;
    width: 100px;
    height: 100px;
  }
  .head-content {
    display: none;
  }
  .header-content {
    position: absolute;
    left: 10rem;
    right: 10rem;
    top: 10rem;
  }
  .header-content h1 {
    padding: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
}
.header-pages input {
  color: #000 !important;
}
.lang{
  min-width: auto !important;
  width: 100% !important;
}
.lang .dropdown-item {
  background-color: #fe213b !important;
  height: auto;
  width: 100% !important;
}
.lang .dropdown-item:hover {
  background-color: #fff !important;
  border: 1px solid #fe213b;
  color: #fff;
  height: auto;
}
.mobile-lang {
  position: absolute !important;
  top: 0.5rem;
  left: 0.5rem;
  display: none;
}
.mobile-lang a {
  color: #000 !important;
}
.mobile-lang a img {
  filter: invert(1);
}
.select2-results__options::-webkit-scrollbar { width: 3px; height: 3px;}
/* ::-webkit-scrollbar-button {  background-color: none; } */
/* .select2-results__options::-webkit-scrollbar-track {  background-color: #FC243E} */
.select2-results__options::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.select2-results__options::-webkit-scrollbar-thumb { height: 10px; background-color: #FC243E; border-radius: 3px;}
/* ::-webkit-scrollbar-corner { background-color: #999;}} */
/* ::-webkit-resizer { background-color: #666;} */