body{
    overflow-x: hidden;
}
.avia{
position: relative;
width: 100%;
height: 320px;
margin-bottom: 5px;
background-image: url(../../images/%D0%90%D0%B2%D0%B8%D0%B0%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B7%D0%BA%D0%B8.png);
  background-size: cover;
}

.avia-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 40px
}



.avia-content h1{
     font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}
.avia-content p{
    font-size: 16px;
line-height: 140%;
color: #A3D3FF;
}
.customs{
position: relative;
width: 100%;
height: 240px;
background-image: url(../../images/%D0%A2%D0%B0%D0%BC%D0%BE%D0%B6%D0%B5%D0%BD%D0%BA%D0%B0.png);
  background-size: cover;
}

.customs-content{
    position: absolute;
    top: 43px;
    left: 40px;
    right: 40px;
}
.customs-content h1{
     font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}
.avia-content p{
    font-size: 16px;
line-height: 140%;
color: #D3D5FF;
}

.gruz{
    position: relative;
    width: 100%;
height: 320px;
    background-image: url(../../images/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%BD%D1%8B%D0%B5%20%D0%B3%D1%80%D1%83%D0%B7%D1%8B.png);
  background-size: cover;
}
.gruz-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gruz-content{
      display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 40px
}

.gruz-content h1{
     font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}
.gruz-content p{
    font-size: 16px;
line-height: 140%;
color: #D3D5FF;
}
.avto{
    position: relative;
    width: 100%;
    height: 240px;
    margin-bottom: 5px;
    background-image: url(../../images/%D0%90%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B7%D0%BA%D0%B8.png);
    background-size: cover;
}

.avto-content{
  padding: 43px 40px
}
.avto-content h1{
     font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}

.gruz-title{
    position: absolute;
    width: 270px;
    height: 66px;
    left: 40px;
     top: 450px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    padding: 0 10px; 
}
.tamojnya{
    position: absolute;
    top: 390px;
    left: 50px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}
.main-content{
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 5px;

}
.multi-modal{
position: relative;
width: 100%;
height: 185px;
    background-image: url(../../images/%D0%9C%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%BC%D0%BE%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B7%D0%BA%D0%B8.png);
      background-size: cover;
    margin-top: 5px;
    border-radius: 3px;
}

.multi-modal-content{
padding: 23px 40px;
}
.multi-modal-content h1{
     font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}
.multi-modal-content p{
    font-size: 16px;
line-height: 140%;
color: #C7C6FF;
}
.check{
    width: 100%;
height: 185px;
    background-image: url(../../images/%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D0%B0.png);
      background-size: cover;
}
.check-content {
   padding: 40px; 
}
.check-content h1{
     font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}
.jd{
    position: relative;
    width: 100%;
    height: 185px;
    margin-bottom: 5px;
    background-size: cover;
}

.jd-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.jd-content{
    position: absolute;
    top: 43px;
    left: 40px;
    right: 35px;
}
.jd-content h1{
     font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #fff;
}
.cn{
        width: 1065px;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.services p{
    color: #fff;
}
.service
{
    display:inline-block;
    border:0;
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.service:hover
{
    box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.1);
     filter: brightness(1.3);
}


@media screen and (max-width:700px){
   
    .main-content{
        
        margin: 0 auto;
        height: 100%;
    }
   .avto{
    background-position-y: bottom;
    height: 150px;
   }
   .avto-content {
    padding: 23px 10px;
   }
   .customs{
    background-position-y: bottom;
   }
   .jd{
    background-position-y: bottom;
   }
   .gruz{
    height: 280px;
   }
   .avia{
    height: 280px;
   }
    .cn{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
   
    .service{
        padding: 0;
    }
    .service img{
        width: 90%;
    }
     .service{
    margin: 0 auto;
        padding: 0;
    }
      .services h1{
        font-size: larger!important;
    }
    .avia-img{
        width: 100%;
    }
    .avia-content{
        left: 1rem;
    }
    .service{
    width: 100%;
        margin-bottom: 10px
    }
     .gruz-content{
        left: 1rem;
         top: 8rem;
    }
    .gruz-content p{
        font-size: small!important;
    }
      .avto-content{
        left: 1rem;
         top: 2rem;
    }
    .avto-content p{
        font-size: small!important;
    }
    
     .avia-content{
        left: 1rem;
         top: 5rem;
    }
    .avia-content p{
        font-size: small!important;
    }
     .customs-content{
        left: 1rem;
         top: 2rem;
    }
     .jd-content{
        left: 1rem;
        
    }
    .multi-modal-content{
        left: 1rem;
        top: 1rem;
        
    }
    .multi-modal-content p{
        font-size: small!important;
    }
    .service
{
    display:block;
    transition:none;
    transform: scale(1);   

}
.service:hover
{
    box-shadow:none;
    z-index: 2;
    transition: none;
    transform: scale(1);
     filter: brightness(1);
}
    
}

@media screen and (min-width:768px) and (max-width: 1024px){
      .main-content{
        margin: 0 auto;
        height: 100%;
          width: 95%;
    }
   
    .cn{
        width: 100%;
    }
   
    .service{
        padding: 0;
    }
    .service img{
        width: 100%;
        min-height: 200px;
    }
     .service{
    margin: 0 auto;
        padding: 0;
     } 
    .avia{
        background-position-x: center;
    }
    .jd{
        background-position-x: center;
    }
    .services h1{
        font-size: larger!important;
        
    }
    .avia-img{
        width: 100%;
        height: 100%;
    }
    .avia-content p{
        left:0;
        top: 1rem;
    }
    .service{
    width: 100%;
            margin-bottom: 10px;
    }
     .gruz-content{
        left: 0.5rem;
         top: 4rem;
         right: 0.5rem
    }
    .gruz-content p{
        font-size: small!important;

    }
      .avto-content{
        left: 0.5rem;
         top: 1rem;
    }
    .avto-content h1{
        font-size: medium!important;
    }
    
     .avia-content{
        left: 1rem;
         top: 1.5rem;
    }
    .avia-content p{
        font-size: x-small!important;
    }
     .customs-content{
        left: 1rem;
         top: 0.5rem;
    }
    .check-content {
    padding: 20px;
    }
    .multi-modal-content {
    padding: 23px 27px;
}
    .gruz-content{
        padding: 20px;
    }
    .avto-content {
    padding: 30px 20px;
}
    .avia-content {
    padding: 20px;
}
     .jd-content{
        left: 1rem;
         top: 1rem;
         right: 0.5rem;
        
    }
    .jd-content h1{
        font-size: medium!important;
    }
    .multi-modal-content{
        left: 1rem;
        top: 0.5rem;
        
    }
    .multi-modal-content h1{
        font-size: medium!important;
    }
    .multi-modal-content p{
        font-size: x-small!important;
    }
    .service
{
    display:block;
    transition:none;
    transform: scale(1);   

}
.service:hover
{
    box-shadow:none;
    z-index: 2;
    transition: none;
    transform: scale(1);
     filter: brightness(1);
}
}

@media screen and (min-width:1024px) and (max-width: 1350px){
        .main-content{
        margin: 0 auto;
        height: 100%;
    }
   
    .cn{
        width: 100%;
        height: 100%;
    }
    .main-inner{
        padding: 2rem 0
    }
    .service{
        padding: 0;
        margin-bottom: 10px!important
    }
    .service img{
        width: 90%;
    }
     .service{
    margin: 0 auto;
        padding: 0;
    }
      .services h1{
        font-size: larger!important;
        
    }
    .avia-img{
        width: 100%;
    }
    .avia-content p{
        left:0;
        top: 1rem;
    }
    .service{
    width: 100%;
    }
     .gruz-content{
        left: 0.5rem;
         top: 4rem;
         right: 0.5rem
    }
    .gruz-content p{
        font-size: small!important;

    }
      .avto-content{
        left: 0.5rem;
         top: 1rem;
    }
    .avto-content h1{
        font-size: medium!important;
    }
    
     .avia-content{
        left: 1rem;
         top: 5rem;
    }
    .avia-content p{
        font-size: small!important;
    }
     .customs-content{
        left: 1rem;
         top: 2rem;
    }
     .jd-content{
        left: 1rem;
        
    }
    .multi-modal-content{
        left: 1rem;
        top: 1rem;
        
    }
    .multi-modal-content p{
        font-size: small!important;
    }
    .service
{
    display:block;
    transition:none;
    transform: scale(1);   

}
.service:hover
{
    box-shadow:none;
    z-index: 2;
    transition: none;
    transform: scale(1);
     filter: brightness(1);
}
   
   
}
/* .advantages-btn button:hover{
    background-color: #000 !important;
}
/* .stl-slide-btn a button:hover{
    background-color: #000 !important;
} */ */
/* 
button:hover{
    background-color: #000;
} */
.select2{
    width: 100% !important;
    height: 52px;
}
.select2-selection{
    background:linear-gradient(180deg, #FF3048 0%, #FA1C37 100%) !important;
    height: 100% !important;
    display: flex !important;
    /* justify-content: space-evenly; */
    align-items: center;
    border: none !important;
    padding-right: 2rem;
    padding-left: 1rem;
}
.select2-selection__rendered{
    color: #fff !important;
}
.select2-selection__arrow{
    background-image: url(../../images/arrow-select.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px !important;
    height: 12px !important;
    position: static !important;
}
.select2-selection__arrow b{
    display: none !important;
}

.company-slider .slick-slide img{
    width: 83px;
    border-radius: 50%;
}
.header-pages{
    position: static;
    padding-top: 15px;
}
.header-pages .nav-link{
    color: #000 !important;
}
.header-pages .nav-item .head-btn{
    color: #fff;
}
.header-pages .dropdown-toggle{
    color: #000 !important;
}
.header-pages .dropdown img{
    filter: invert(1);
}
.header-pages .input-search img{
    filter: invert(1);
}
.select2-selection__rendered img{
    margin-right: 1rem;
}
.select2-results__option{
    background-color: silver;
}
.select2-results__option:hover{
    background-color: #FC243E !important;
    color: #fff !important;
}
.select2-results__option--highlighted{
    background-color: #FC243E !important;
}

.select2-results__option img{
    margin-right: 1rem;
}
.select2-container{
    height: 52px;
    width: 100% !important;
}
.select2-results__option{
    background-color:#191A27;
    color: #fff !important;
    font-size: 13px;
}
.select2-results__option:hover{
    color: #000 !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #fff !important;
    color: #000 !important;
}
.select2-selection__rendered {
    padding: 0 !important;
}
.select2-selection__arrow{
    position: absolute !important;
    right: 5% !important;
    top: 40% !important;

}
.slick-slide:focus{
    outline: none !important;
}