.partners{
  height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partners-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 51px;
}
.partners-logo img{
    width: 130px;
}
.prt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.collapse-link{
    width:100%;
    margin-bottom: 85px
}
.collapse-btn{
    width: 170px;
height: 44px;
    font-weight: bold!important;
font-size: 13px!important;
line-height: 160%!important;
text-transform: uppercase!important;
color: #FE213B!important;
border: 1px solid #FE213B!important;
}
.collapse-btn:hover{
    background-color: #FE213B!important;
    color: #ffffff!important;
}
.collapse-btn:focus{
    box-shadow: none!important;
}

.partners h1{
    font-weight: 800;
font-size: 54px;
line-height: 140%;
}
.partners-mobile{
    display: none;
    padding: 3rem 0;
}
.partners-mobile h1{
    font-size: 26px;
    line-height: 30%;
    margin-bottom: 2rem;
}
.partner-slide img{
    width: 90%;
    height: 80px;
}


@media screen and (max-width:576px){
    .partners{
        display: none;
    }
    .partners-mobile{
        display: block;
    }
    .collapse-link{
        display: none;
    }
}

@media screen and (min-width:768px) and(max-width:1024px){
 .partners{
        height: 100%;
        padding: 30px 20px;
    }
    .prt{
        display: flex;
    flex-direction: column;
        
    }
    .prt img{
        margin-bottom: 10px;
    }
}

@media screen and (max-width:576px){
    .partners{
        height: 100%;
        padding: 30px 20px;
    }
    .partners h1{
    font-weight: 800;
font-size: 26px;
line-height: 30%;
}
    .prt{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .prt img{
        margin-bottom: 10px;
    }
    .partners-logo img{
        width: 100px;
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px){
    .partners-logo img{
        width: 100px;
    }
}
