.review-content {
  padding-bottom: 20px;
  .review-card {
    padding: 40px 0;
    border-bottom: 1px solid #f0f0f0;
    .review-txt {
      .review-info {
        display: flex;
        align-items: baseline;
        h2 {
          font-size: 14px;
          font-family: "opensans";
          color: rgb(0, 0, 0);
          font-weight: bold;
          line-height: 1.2;
          margin-right: 15px;
        }
        span {
          font-size: 14px;
          font-family: "opensans";
          color: rgb(254, 33, 59);
          line-height: 1.2;
        }
      }
      p {
        font-size: 14px;
        font-family: "opensans";
        color: rgb(74, 74, 74);
        line-height: 1.714;
      }
    }
  }
  .review-btn {
    margin: 45px 0;
    button {
      background-color: rgb(254, 33, 59);
      font-size: 18px;
      font-family: "proxima";
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.333;
      border: none;
      width: 235px;
      height: 55px;
      &:hover {
        background: #ffffff;
        border: 1px solid #fe213b;
        color: #fe213b;
      }
    }
  }
  .all-review {
    margin: 60px 0 80px 0;
    text-align: right;
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(202, 214, 223);
    font-weight: bold;
    line-height: 1.667;
  }
  .review-image {
    img {
      max-width: 80%;
    }
  }
}

@media screen and (max-width: 576px) {
  .review-image {
    img {
      max-width: 60% !important;
    }
  }
  .review-content {
    .review-card {
      padding: 20px 0;
      .review-image {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    .review-btn {
      margin: 25px 0;
      button {
        width: 200px;
        height: 50px;
      }
    }
    .review-item {
      height: 130px;
      position: relative;
      .portfolio-btn {
        position: absolute;
        top: 1rem;
      }
    }
    .all-review {
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .review-content {
    .review-card {
      padding: 20px 0;
      .review-image {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .review-btn {
      margin: 25px 0;
      button {
        width: 200px;
        height: 50px;
      }
    }
    .review-item {
      height: 130px;
      position: relative;
      .portfolio-btn {
        position: absolute;
        top: 1rem;
      }
    }
    .all-review {
      margin: 0;
    }
  }
}
