.services{
   padding: 30px 0;
   border-bottom: 1px solid #ededed;
    .services-images{
        .services-button{
        button{
            background-color: rgb(254, 33, 59);
            width: 307px;
            height: 53px;
            border: none;
            font-size: 18px;
            font-family: "proxima";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.333;
            margin-top: 40px;
    }
}
    }
    .service-content{
        margin-left: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ededed;
        h1{
                font-size: 30px;
                font-family: "proxima";
                color: rgb(33, 33, 33);
                font-weight: bold;
                line-height: 1.167;
                text-align: left;
                
        }
        h3{
                font-size: 17px;
                font-family: "proxima";
                color: rgb(128, 128, 128);
                font-weight: bold;
                line-height: 1.389;
                text-align: left; 
                margin: 20px 0;
        }
        p{
                font-size: 15px;
                font-family: "proxima";
                color: rgb(33, 33, 33);
                font-weight: bold;
                line-height: 1.667;
                margin: 0.5rem 0;
        }
        li{
                font-size: 15px;
                font-family: "proxima";
                color: rgb(33, 33, 33);
                line-height: 1.667;
                position: relative;
                &::before{
                    content: "";
                    width: 5px;
                    height: 5px;
                    background-color:rgb(254, 33, 59);
                    position: absolute;
                    left: 0;
                    border-radius: 50%;   
                    top: 10px;       
                }
        }
    }
    .service-info{
        padding-top: 30px;
        margin-left: 20px;
        p{
                font-size: 15px;
                font-family: "proxima";
                color: rgb(33, 33, 33);
                line-height: 1.667;
                text-align: left;  
                margin-bottom: 0.5rem; 
        }
        height: 120px;
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 60px;
            opacity: 0.5;
            position: absolute;
            bottom: 0;
            background-color: #fff;
            box-shadow: inset 0px -70px 68px 0px rgba(255, 255, 255, 1);
          }
    }
    .read-overflow{
        margin-left: 20px;
        margin-top: 1rem;
        color: #000;
        // .link-overflow {
        //     font-size: 15px;
        //     color: #1f97f3;
        //     font-weight: bold;
        //     height: 50px;
        //     display: flex;
        //     align-items: center;
           a{
               color: #000;
          img {
              margin-left: 5px;
            //   transform: rotate(-90deg);
            }       
           } 
        // }
    }

}
.services-bottom{
    border: none !important;
    margin-bottom: 70px;
}
.service-info-active {
    height: auto !important;
    overflow: auto !important;
    transition: all 5s ease;
}



@media screen and (max-width:576px){
    .services{
        padding: 20px 0;
         .services-images{
             .services-button{
                 display: flex;
                 justify-content: center;
                 button{
                    margin-top: 25px;
                    margin-bottom: 25px;
                 }
     }
         }

     }
     .services-bottom{
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .services{
        padding: 20px 0;
         .services-images{
             .services-button{
                 button{
                    margin-top: 25px;
                    margin-bottom: 25px;
                 }
     }
         }
         .service-content{
            margin-left: 0;
        }
        .read-overflow{
            margin: 0;
        }
        .service-info{
            margin-left: 0;
        }

     }
     .services-bottom{
        margin-bottom: 20px;
    }
}