.nav-panel-mobil{
    left: 0;
}
.head-desc{
    height: auto;
    // border-bottom: 1px solid #e8e8ea;
    .header-desc{
        .logo-desc{
            img{
                height: 60px;
            }
            
        }
        .top-header-desc{
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .nav{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header-link{
                    font-family: 'proxima';
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 130%;
                    color: #212327!important;
                }
                .skills-desc{
                    .skills-desc-btn{
                        font-family: 'proxima';
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 130%;
                        color: #FE213B!important;
                        img{
                            margin-left: 5px;
                            margin-top: -2px;                        
                        }
                        &::after{
                            display: none;
                        }
                        &:focus{
                            box-shadow: none!important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px){
.top-header-desc{
    display: none!important;
}
}
@media screen and (min-width:768px) and (max-width:1024px){
    .top-header-desc{
        display: none!important;
    } 
}
@media screen and (min-width:1024px) and (max-width:1350px){
    .head-desc{
        height: 66px;
        .burger-menu-btn{
            top: 0.3rem;
        }
        .header-desc {
            .logo-desc {
                img{
                    height: 66px;
                }
            }
        }
    }
}