.slider-txt{
    background-color: red;
}
.transport-slider{
    position: relative;
    .slick-prev{
        left: 5%!important;
        z-index: 9!important;
        width:43px ;
        height: 55px;
        &::before{
            position: absolute;
            box-sizing: border-box;
            height:30px;
            width: 30px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 2px 2px 0px;
            transform: rotate(130deg);
            left: 1rem;
            top: 0.8rem;
        }
        &:hover{
            background-color: #fe213b;  
            &::before{
                border-color: #fff;
            }
        }
    }
    .slick-next{
        right: 5%!important;
        z-index: 9!important;
        width:43px ;
        height: 55px;
        background-color: #fff;
        &::before{
            position: absolute;
            box-sizing: border-box;
            height:30px;
            width: 30px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 2px 2px 0px;
            transform: rotate(-42deg);
            right: 1rem;
            top: 0.8rem;
        }
        &:hover{
            background-color: #fe213b;
            &::before{
                border-color: #fff;
            }  
        }
    }
}
.gallery-slider{
    position: relative;
    .slick-prev{
        // position: absolute;
        left: 68%!important;
       top: 85%;
        z-index: 9!important;
        width:40px ;
        height: 40px;
        background-color: #fff;
        &::before{
            position: absolute;
            box-sizing: border-box;
            height:16px;
            width: 16px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 2px 2px 0px;
            transform: rotate(130deg);
            left: 1rem;
            bottom: 0.8rem;
        }
        &:hover{
            background-color: #fe213b;  
            &::before{
                border-color: #fff;
            }
        }
    }
    .slick-next{
        top: 85%;
        right: 5%!important;
        z-index: 9!important;
        width:40px ;
        height: 40px;
        background-color: #fff;
        &::before{
            position: absolute;
            box-sizing: border-box;
            height:16px;
            width: 16px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 2px 2px 0px;
            transform: rotate(-42deg);
            right: 1rem;
            top: 0.8rem;
        }
        &:hover{
            background-color: #fe213b;
            &::before{
                border-color: #fff;
            }  
        }
    }
}
@media screen and (max-width:576px){
    .transport-slider{
        .slick-prev{
            top: 40%;
            width: 30px;
            height: 30px;
            &::before{
                left: 0.7rem;
                top: 0.5rem;
            }
        }
        .slick-next{
            top: 40%;
            width: 30px;
            height: 30px;
            &::before{
                right: 0.7rem;
                top: 0.5rem;
            }
        }
    }   
}

.company-slider{
    img{
        min-width: 20% !important;
        max-width: 50% !important;
    }
}
// .slick-slide{
//     img{
//         width: 50% !important;
//     }
// }